Project : Uniteller.ComponentBuilder.BuildScriptGenerator
Sources ; исходные коды по правилу *.c -> *.o, *.cpp -> *.o, *.cc -> *.o
  Uniteller.Framework.Kernel.System.cpp
  machine.cpp  
  StringUtils.cpp
  ../../references/kernel/Utils.cpp 
  ../../references/kernel/xregistrykey.cpp 
Headers ; заголовочные файлы, которые включаются в проект visual studio
  ../../references/kernel/utils.h
  ../../references/kernel/isystemobject.h
Libraries ; библиотеки для линковки по правилу -<libname>
  pthread
  ldl
  shared
Variables ; переменные для мейкфайла, если таковые есть
  GCCPATH : /cygdrive/x/newpos/glibc-oabi-toolchain-arm-generic/bin/arm-unknown-linux-gnu-g++
  AR : 
IncludeDirs ; места включения заголовочных файлов
  ../include
  ../../include
  ../../references
  ../../references/stlport
  ../../references/stlport/bits
Resources ; где искать метаданные, если таковые есть, можно .S или .rc или module.utx
  ./metadata.S
Output : Debug/Uniteller.Framework.Kernel.System.so
CFLAGS : 