; Описатель компонента 
Component: Uniteller.InterchangeFormats.Kernel.System
Description: Средство автоматического тестирования
Goal  : t0262
Generation : 1
Dependencies ; Зависимости
  Uniteller.InterchangeFormats.Kernel  : t0500
Content    ; Содержимое компонента
  01 : utc:protocol
    Source : Uniteller.InterchangeFormats.Kernel.System
    Target :
