; Описатель компонента 
Component: Uniteller.Framework.Kernel.System
Description: Средство автоматического тестирования
Goal  : t0262
Generation : 1
Dependencies ; Зависимости
  Uniteller.InterchangeFormats.Kernel.System  : t0262
  Uniteller.InterchangeFormats.Kernel  : t0500
Content    ; Содержимое компонента
  01 : native:unit
    Source : Uniteller.Framework.Kernel.System
    Target :
  02 : test
    Source : 
    Target :  
